<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{37,1},{34,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{73,1},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fallHero.png</string>
            <key>size</key>
            <string>{108,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d6c32be71fd369e6c888e15153ea46:c56cc6da7f394858e92f8a7e962e7752:01bd4ef3a465ab834a632f5cb819aa86$</string>
            <key>textureFileName</key>
            <string>fallHero.png</string>
        </dict>
    </dict>
</plist>
